
@model List<Projekt1Portfolio.Models.Tbl_Experience>    

@{
    ViewBag.Title = "ExperienceList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Erfahrungen</h2>   

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Company Name</th>
        <th>Datum</th>
        <th>Title</th>
        <th>Beschreibung</th>
        <th>Löschen</th>
        <th>Update</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ExperienceId</td>
            <td>@item.CompanyName</td>
            <td>@item.WorkDate</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td><a href="/Experience/DeleteExperience/@item.ExperienceId" class="btn btn-danger">Löschen</a></td>
            <td><a href="/Experience/DeleteExperience/@item.ExperienceId" class="btn btn-success">Update</a></td>
        </tr>

    }

    </table>

    <a href="/Experience/AddExperience" class="btn btn-primary">Erfahrung hinzufügen</a>
