
@{
    ViewBag.Title = "SkillList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2>SkillList</h2>

        

    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SkillName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SkillLevel)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SkillDescription)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SkillName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SkillLevel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SkillDescription)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.SkillId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.SkillId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.SkillId">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>