﻿@model Projekt1Portfolio.Models.Tbl_Testimonial
@{
    ViewBag.Title = "CreateTestimonial";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Referenz Hinzufügen Seite</h2>

<form method="post">

    @Html.HiddenFor(x => x.TestimonialId, new { @class = "form-control" })
    <label>Name</label>
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    <label>Überschrift</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Kommentar</label>
    @Html.TextAreaFor(x => x.Comment, 6, 0, new { @class = "form-control" })
    <br />
    <label>Foto</label>
    @Html.TextAreaFor(x => x.ImageUrl, 2, 0, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Hinzufügen</button>

</form>
