@model List<Projekt1Portfolio.Models.Tbl_Message>


@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Eingehende Nachrichten</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Absender</th>
        <th>Betreff</th>
        <th>Datum</th>
        <th>Status</th>
        <th>Kategorie</th>
        <th>Löschen</th>
        <th>Nachricht öffnen</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.KontaktId</td>
            <td>@item.Name</td>
            <td>@item.Subject</td>
            <td>@item.SendDate</td>
            @if (item.IsRead == false)
            {
                <td>Ungelesen</td>
            }
            else
            {
                <td>Gelesen</td>
            }

            <td>@item.Tbl_Category.CategoryName</td>
            <td><a href="#" class="btn btn-danger">Löschen</a></td>
            <td><a href="#" class="btn btn-primary">Nachricht öffnen</a></td>
        </tr>
    }
</table>