
@model Projekt1Portfolio.Models.Tbl_Message
@{
    ViewBag.Title = "MessageDetails";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Nachrichtendetails Seite</h2>

<b>Absender Name:</b> @Html.DisplayFor(x => x.Name)
<br />
<br />
<b>Absender E-Mail Adresse:</b> @Html.DisplayFor(x => x.Email)
<br />
<br />
<b>Absender Telefonnummer:</b> @Html.DisplayFor(x => x.PhoneNumber)
<br />
<br />
<b>Betreff der Nachricht:</b> @Html.DisplayFor(x => x.Subject)
<br />
<br />
<b>Nachrichtendetails:</b> @Html.DisplayFor(x => x.MessageDetail)
<br />
<br />
<b>Datum:</b> @Html.DisplayFor(x => x.SendDate)
<br />

