
@model Projekt1Portfolio.Models.Tbl_Message
@{
    ViewBag.Title = "MessageDetails";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Nachrichtendetails Seite</h2>

Gönderen Adi Soyadi: @Html.DisplayFor(x => x.Name)
<br />
Gönderen Mail Adresi: @Html.DisplayFor(x => x.Email)
<br />
Gönderen Telefon Numarasi @Html.DisplayFor(x => x.PhoneNumber)
<br />
Mesaj Konusu: @Html.DisplayFor(x => x.Subject)
<br />
Mesaj Detaylari: @Html.DisplayFor(x => x.MessageDetail)
<br />
Tarih: @Html.DisplayFor(x => x.SendDate)
<br />
  
